anyio
certifi
click
colorama
distro
fastapi
groq
h11
httpcore
httptools
httpx
idna
pydantic
pydantic-settings
pypdf
python-dotenv
python-multipart
PyYAML
sniffio
starlette
typing_extensions
uvicorn
watchfiles
websockets